* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}
#game {
  width: 750px;
  height: 450px;
  background-color: aquamarine;
  overflow: hidden;
}
#player {
  width: 25px;
  height: 70px;
  background-color: red;
  position: relative;
  top: 380px;
  left: 100px;
}
#obstacle {
  width: 30px;
  height: 30px;
  background-color: blue;
  position: relative;
  top: 350px;
  left: 500px;
}
.jump {
  animation: jump 0.6s linear infinite;
}
.obstacle_path {
  animation: obstacle_path 2s linear infinite;
}
@keyframes jump {
  0% {
    top: 380px;
  }
  50% {
    top: 320px;
  }
  /* 70% {
    top: 320px;
  } */
  100% {
    top: 380px;
  }
}
@keyframes obstacle_path {
  0% {
    left: 740px;
  }
  100% {
    left: -10px;
  }
}
